# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Secrets and local configurations
.env

# Temporary Excel files
~$*
*.tmp
*.docx

# Databases
*.db
*.sqlite3

create_superadmin.py
tmdb.py
movies.xlsx
backfill_backdrop_paths.py
backfill_runtime_minutes.py

